/* Detials for links inside header - spacing */
/*
.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
	padding-right: 0 24px;
}
*/
/*
.mdl-layout__header-row {
	background-color:  #283593;
}
*/

/* Details of HEADER_STARTS here - title */
.mdl-layout__header-row > .mdl-layout-title > .custom-title-color.mdl-navigation__link { 
	color: #3F51B5 !important;
	font-size: 25px;
	font-weight: 700;
	opacity: 1.0;
}
/*
.mdl-layout__header-row a.mdl-navigation__link {
	color: #3F51B5;
	font-size: 25px;
	font-weight: 700;
}*/
.mdl-layout__header-row .mdl-layout-title {
	color: #3F51B5;
	font-size: 25px;
	font-weight: 700;
	opacity: 1.0;
}
/* Details for links inside header */
.mdl-layout__header-row nav.mdl-navigation .mdl-navigation__link {
	display: inline-block;
	color: #92989b;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 4px solid transparent;
	height: 60px;
	opacity: 1.0;
}
/* Underline color for links inside header on hover */
.mdl-layout__header-row nav.mdl-navigation .mdl-navigation__link:hover {
	/*border-bottom: 4px solid #4051B5;*/
	border-bottom: 4px solid #1A237E;
	opacity: 1.0;
}

/* Details of HEADER_ENDS here*/


/* Details of DRAWER_STARTS here */
.custom-drawer {
	background-color: #ffffff;
}
/* Details for seperator inside drawer */
.custom-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
	margin: 4px 6px; /* margin-top and bottom: 4px each  |  margin-left and bottom: 14px each */
}
/* Details for drawer button inside drawer */
.mdl-layout__header .mdl-layout__drawer-button {
	color: #767777;
}
/* Details for HEADER_STARTS here - drawer */
.custom-drawer .mdl-layout-title {
	color: #3F51B5;
	background-color: #ffffff;
	font-size: 25px;
	font-weight: 700;
}
/* Details for HEADER_ENDS here */

/* Details of SECTION_STARTS here - drawer title */
/* Details for drawer section title - no link*/
.custom-drawer span.mdl-navigation__link.mdl-navigation__link {
	color: #2296F4;
	font-size: 14px;
	font-weight: 700;
}
/* Details for drawer section title on hover - no link */
.custom-drawer span.mdl-navigation__link.mdl-navigation__link:hover {
	background-color: transparent;
}
/* Details of SECTION_ENDS here */

/* Details of LINKS_STARTS here - drawer */
/* Details of drawer links */
.custom-drawer .mdl-navigation__link.mdl-navigation__link {
	/*color: #000000;*/
	color: #92989b;
	opacity: 1.0;
	font-size: 14px;
	font-weight: 700;
}
/* Details of drawer links on hover */
.custom-drawer .mdl-navigation__link.mdl-navigation__link:hover {
	border-bottom: none;
	background-color: transparent;
	/*color: #4051B5;*/
	color: #1A237E;
}
/* Details of LINKS_ENDS here */

/* Details of ICONS_STARTS here - drawer */
.custom-drawer .mdl-navigation .mdl-navigation__link i {
	margin-right: 10px;
}
/* Details of ICONS_ENDS here */
/* Details of DRAWER_ENDS here */



/* Details of footer logo */
.mdl-mini-footer, .mdl-mini-footer .mdl-logo {
	/*color: #777777;*/
	color: #6C6E6F;
	font-size: 18px;
	font-weight: 700;
	background-color: #ECEFF1;
	margin-bottom: 0px;
}
/* Details of footer text */
.mdl-mini-footer .mdl-mini-footer__span {
	background-color: #ECEFF1;
	/*color: #777777; */
    color: #6C6E6F;
    font-size: 14px;
    font-weight: 700;
}
.mdl-mini-footer__left-section, .mdl-mini-footer__right-section, .mdl-mini-footer__link-list {
	background-color: #ECEFF1;
}
/* Details of FOOTER_ENDS here */

/* RIBBON */
.ribbon {
	width: 100%;
	height: 40vh;
	background-color: #3F51B5;
	flex-shrink: 0;
}

.custom-main {
	margin-top: -35vh;
	flex-shrink: 0;
}
.custom-grid {
	max-width: 2500px;
	width: calc(100% - 16px);
	margin: 0 auto;
}
.custom-content {
	border-radius: 2px;
    padding: 40px 16px 40px 16px;
    margin-bottom: 80px;
}
.custom-grid-inner {
	padding: 0;
	margin: 0px 26px 0px 26px;
}
.custom-cell {
	padding: 0;
}

/* Details for FORM_STARTS here */
.custom-textfield {
	width: calc(100% - 16px);
}
.custom-button {
	background-color: #ff6d00;
	color: #ffffff;
}
.custom-button:hover, .custom-button:active, .custom-button:focus, .custom-button:active:not(:active) {
	background-color: #E65100;
	color: #ffffff;
}

.mdl-textfield__label::after {
    background-color: #ff6d00;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
	color: #ff6d00;
}
/* Details for FORM_ENDS here */


/* Smaller devices */
@media (max-width: 1024px) {
	.custom-cell-hide-mini-tablet {
		display: none;
	}
	.custom-content {
		width: calc(100% - 16px);
	}
	.custom-cell {
		width: calc(100% - 16px);
	}
}
